<h1 class="text-center text-info">Our products</h1>

<div class="container-fluid mt-2">
  <div class="row col justify-content-between custom-line">
    <div class="col-lg-4 mt-1" *ngFor="let product of products">
      <div class="card mx-auto" id="crd">
        <img [src]="product.picture" class="card-img-top" alt="aucune image">
        <div class="card-body mx-auto d-block">
          <p class="card-title text-center fw-bold">{{ product.name }}</p>
          <h6 class="text-center">spécifications</h6>
          <ul>
          <li class="card-text">price : {{ product.specifications.price }}</li>
          <li class="card-text">storage : {{ product.specifications.storage }}</li>
          <li class="card-text">weight : {{ product.specifications.weight }}</li>
          <li class="card-text">color : {{ product.specifications.color }}</li>
          </ul>
        </div>
        <div class="card-footer">
          <a [routerLink]="['/product/cart',product.id]" class="btn btn-primary w-100">add to card</a>
        </div>
      </div>
    </div>
  </div>
</div>
